@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Ubuntu Sans", sans-serif;
}

body {
    background-color: #fafafa;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

#header {
    /* border: 1px solid gray; */
    height: 8vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Ubuntu Sans Mono", monospace;
    font-size: 24px;
    font-weight: 500;
}

#footer {
    /* border: 1px solid gray; */
    height: 4vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
}

#container {
    /* border: 1px solid gray; */

    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

#calc {
    /* border: 1px solid gray; */
    border-radius: 4px;

    height: 750px;
    width: 650px;
    margin: 24px 0;

    display: flex;
    flex-direction: column;
}

#input-screen {
    border: 1px solid gray;

    height: 50%;
    width: 100%;
}

#button-container {
    border: 1px solid gray;

    height: 50%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.btn-rows {
    /* border: 1px solid skyblue; */

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.btn-rows,
#bottom-two {
    gap: 5px;
}

.btn-row {
    /* border: 1px solid red; */

    display: flex;
    gap: 4px;
}

#bottom-row {
    /* border: 1px solid darkcyan; */

    display: flex;
    gap: 5px;
}

#bottom-two {
    /* border: 1px solid darkgreen; */

    display: flex;
    flex-direction: column;
}

.calc-btn {
    font-size: 17px;
    border-radius: 6px;
    height: 40px;
    width: 120px;
}

.num {
    font-weight: 600;
}

#btn-equal {
    height: 100%;
    align-self: stretch;
}
