@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");

* {
  border: 0;
  margin: 0;

  box-sizing: border-box;

  font-family: "Ubuntu Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fafafa;
}

/* Links */
a {
  color: black;
  text-decoration: none;
}

/* Header */
#header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  font-family: "Ubuntu Sans Mono", monospace;
  font-size: 24px;
  font-weight: 500;
  /* border: 1px solid gray; */
}

/* Footer */
#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4vh;
  font-size: 12px;
  /* border: 1px solid gray; */
}

/* Main Container */
#container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* border: 1px solid #f5f5dc; */
}

/* Calculator Section */
#calc {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
  border-radius: 4px;
  /* border: 1px solid #ffb6a6; */
}

/* Input Screen Section */
#input-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  /* border: 1px solid #a6c8ff; */
}

/* History & Input Area */
#history,
#input-container {
  min-width: 617px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.055);
}

#history {
  /* border: 2px solid red; */
  background-color: #ebebeb;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 52vh;
  /* overflow-y: scroll; */

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.history-entry {
  /* border: 2px solid #30bced; */
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  height: 35px;
  border-bottom: 1px solid #d2d2d2;
  transition: all 0.2s ease;
}
.history-entry:hover {
  background-color: #d2d2d2;
}

.history-entry > div {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 10px;
  font-size: 16px;
  cursor: default;
}

.equation {
  /* border: 2px solid #303036; */
  width: 50%;
  text-align: left;
}

.equals {
  /* border: 2px solid #fffaff; */
  width: 5%;
  justify-content: center;
  text-align: center;
}

.result {
  /* border: 2px solid #fc5130; */
  width: 45%;
  justify-content: flex-end;
  text-align: right;
}

#input-container {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 65px;

  display: flex;
  flex-direction: column;
}

#input {
  /* border: 1px solid blue; */
  height: 40px;
  font-weight: 500;
  font-size: 22px;
  padding: 10px 10px;

  white-space: nowrap;
  overflow: hidden;
  /* text-overflow: ellipsis; */
}

#warning {
  /* border: 1px solid red; */
  font-weight: 300;
  font-size: 13.8px;
  height: 25px;
  padding: 3px 10px;
}

/* Button Container */
#button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1px solid #d3a8ff; */
  /* height: 50%; */
  /* width: 100%; */
  /* align-items: stretch; */
}

/* Button Rows */
.btn-rows {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5px;
  gap: 5px;
  /* border: 1px solid #a4d3d4; */
}

/* Button Row (Individual Buttons) */
.btn-row {
  display: flex;
  gap: 4px;
  /* border: 1px solid red; */
}

#bottom-row {
  display: flex;
  gap: 5px;
  /* border: 1px solid darkcyan; */
}

#bottom-two {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* border: 1px solid darkgreen; */
}

/* Calculator Buttons */
.calc-btn {
  background-color: #e6e6e6;
  font-size: 17px;
  border-radius: 6px;
  height: 40px;
  width: 120px;
  transition: all 0.3s ease;
}

.calc-btn:hover {
  background-color: #e0e0e0;
}

.calc-btn:active {
  background-color: #d6d6d6;
}

/* Button Modifiers */
.num {
  background-color: #d2d2d2;
  font-weight: 600;
}

.num:hover {
  background-color: #cccccc;
}

.num:active {
  background-color: #c2c2c2;
}

#btn-equal {
  background-color: #ff810a;
  color: #f7f5fb;
  height: 100%;
  align-self: stretch;
}

#btn-equal:hover {
  filter: brightness(1.1);
}

#btn-equal:active {
  background-color: #e06900;
}

.delete {
  background-color: #6d2e46;
  color: white;
}

.delete:hover {
  background-color: #652a41;
}

.delete:active {
  background-color: #562437;
}
