* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

#header {
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#footer {
    height: 5vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.calc {
    display: flex;
    flex: 1;
}
